@import "partials/variables";

.jumbo-comic {
    background-image: url("../../img/jumbotron.jpg");
    background-size: cover;
    height: 400px;
};
.blue-banner {
    width: 100%;
    height: 70px;
    background-color: $colorDcComics;
}

.container {
    width: 60%;
    padding: 3em 0;
    position: relative;
    .comic-container {
        position: absolute;
        top: -65%;
        border: 1px solid white;
        height: 200px;
        overflow: hidden;
        .thumb-img {
            height: 100%;
        }
    }
}