* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

main {
  background-color: #1C1C1C;
  width: 100%;
}

.jumbotron {
  background-image: url("../../img/jumbotron.jpg");
  background-size: cover;
  height: 400px;
}

.main-container {
  height: 100px;
  background-color: #1C1C1C;
  position: relative;
}
.main-container .main-title {
  background-color: #0282F9;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  color: white;
  position: absolute;
  left: 150px;
  top: -25px;
}

.thumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4em;
}
.thumbs .thumb {
  width: 150px;
}
.thumbs .thumb .img-container {
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin-bottom: 1em;
}
.thumbs .thumb .img-container img {
  width: 100%;
}
.thumbs .thumb .subtitle {
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
}
.thumbs .thumb a {
  text-decoration: none;
  color: white;
}

.container-btm {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.container-btm .load-more {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  padding: 1em 3em;
  margin-bottom: 1em;
  background-color: #0282F9;
  display: inline-block;
}

header {
  display: flex;
  padding: 1em 0;
}
header .header-sx {
  width: 30%;
}
header .header-dx {
  width: 70%;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.navbar {
  display: flex;
}
.navbar .navbar-item {
  display: flex;
  list-style-type: none;
}
.navbar .navbar-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding: 2em 0;
  margin: 0 1em;
}
.navbar .navbar-item.active {
  color: #0282F9;
  border-bottom: 3px solid #0282F9;
}

.footer-top {
  padding: 3em 0;
  background-color: #0282F9;
}
.footer-top ul {
  display: flex;
  justify-content: space-between;
}
.footer-top ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.footer-top ul li img {
  width: 3em;
  margin: 0 1em;
}
.footer-top ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.footer-center {
  background-image: url(../../img/footer-bg.jpg);
  background-size: contain;
}
.footer-center .background-logo {
  padding: 2em 0 2em 0;
  background-image: url(../..img/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: 50%;
}
.footer-center .background-logo .clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.footer-center .background-logo .first-col,
.footer-center .background-logo .second-col,
.footer-center .background-logo .third-col {
  float: left;
  width: 15%;
}
.footer-center .background-logo .first-col h3,
.footer-center .background-logo .second-col h3,
.footer-center .background-logo .third-col h3 {
  text-transform: uppercase;
  padding: 0.8em 0;
  color: white;
}
.footer-center .background-logo .first-col ul,
.footer-center .background-logo .second-col ul,
.footer-center .background-logo .third-col ul {
  list-style: none;
}
.footer-center .background-logo .first-col ul li,
.footer-center .background-logo .second-col ul li,
.footer-center .background-logo .third-col ul li {
  padding-bottom: 0.5em;
  font-size: 0.9em;
}
.footer-center .background-logo .first-col ul li a,
.footer-center .background-logo .second-col ul li a,
.footer-center .background-logo .third-col ul li a {
  text-decoration: none;
  color: #959595;
}

.footer-bottom {
  background-color: #303030;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 2em 0;
}
.footer-bottom .container .sign-up {
  border: 2px solid #0282F9;
  padding: 1em;
}
.footer-bottom .container .sign-up a {
  text-decoration: none;
  color: white;
}
.footer-bottom .container .social {
  display: flex;
  align-items: center;
}
.footer-bottom .container .social h3 {
  padding-right: 2em;
  color: #0282F9;
}
.footer-bottom .container .social ul li {
  display: inline-block;
  padding: 0 0.5em;
}